.bottom-panel {
  /* .window-button-icon height +
     .window-button vertical padding +
     .window-button > StWidget vertical padding) */
  height: 2.25em;
}

.window-list {
  spacing: 2px;
  font-size: 10pt;
}

.window-button {
  padding: 1px;
}

.window-button:first-child:ltr {
  padding-left: 2px;
}

.window-button:last-child:rtl {
  padding-right: 2px;
}

.window-button-box {
  spacing: 4px;
}

.window-button > StWidget {
  -st-natural-width: 18.75em;
  max-width: 18.75em;
  color: #bbb;
  background-color: black;
  border-radius: 4px;
  padding: 3px 6px 1px;
  box-shadow: inset 1px 1px 4px rgba(255,255,255,0.5);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

.window-button:hover > StWidget {
  color: white;
  background-color: #1f1f1f;
}

.window-button:active > StWidget,
.window-button:focus > StWidget {
  box-shadow: inset 2px 2px 4px rgba(255,255,255,0.5);
}

.window-button.focused > StWidget {
  color: white;
  box-shadow: inset 1px 1px 4px rgba(255,255,255,0.7);
}

.window-button.focused:active > StWidget {
  box-shadow: inset 2px 2px 4px rgba(255,255,255,0.7);
}

.window-button.minimized > StWidget {
  color: #666;
  box-shadow: inset -1px -1px 4px rgba(255,255,255,0.5);
}

.window-button.minimized:active > StWidget {
  box-shadow: inset -2px -2px 4px rgba(255,255,255,0.5);
}

.window-button-icon {
  width: 24px;
  height: 24px;
}

.window-list-workspace-indicator {
  padding: 3px;
}

.window-list-workspace-indicator > StWidget {
  background-color: rgba(200, 200, 200, .3);
  border: 1px solid #cccccc;
}

.bottom-panel-menu {
  -boxpointer-gap: 4px;
}

.notification {
  font-weight: normal;
}
